*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
DeepQA_with_attention/save/FINAL_barney_model_30_epochs/model.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
DeepQA_with_attention/save/FINAL_spock_model_30_epochs/model.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
