save/FINAL_generic_model_30_epochs/model.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
save/FINAL_vader_model_30_epochs/model.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
